// COLORES

//DARKMODE
//Dark Blue (Dark Mode Elements): 
$elements-dark: hsl(209, 23%, 22%);
//Very Dark Blue (Dark Mode Background): 
$bg-dark: hsl(207, 26%, 17%);
//White (Dark Mode Text): 
$text-dark: hsl(0, 0%, 100%);


//LIGHTMODE
//Very Dark Blue (Light Mode Text): 
$text-light: hsl(200, 15%, 8%);
//Dark Gray (Light Mode Input): 
$input-light: hsl(0, 0%, 52%);
//Very Light Gray (Light Mode Background): 
$bg-light: hsl(0, 0%, 98%);
//White (Light Mode Elements):
$elements-light: hsl(0, 0%, 100%);